/* .content{
    color: red;
    font-size: 30px;
   

}
.newClass{
 background-color: yellow;
} */

/* div{
    background-color:blue;
    color: white;
    height: 100px;
    width: 100px;
} */

/* .dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
 }
 /* body{
    background-color: #548687;
    text-align: center;
 }
 .container{
    height: 70vh;
     display: flex;
    justify-content: center;
    align-items: center;
 }
 .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
 }
 .box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
 }
 #reset-btn, #new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
 }
 .msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
 }
 #msg{
    color:#ffffc7;
    font-size: 5vmin;
 }

 .hide{
    display: none;
 } */




 h1{
   background-color: #081b31;
   color: white;
   height: 5rem;
   line-height: 5rem;
 }

 .choice{
   height: 165px;
   width: 165px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .choice:hover{
   cursor: pointer;
   background-color: #081b31;
 }
 img{
   height: 150px;
   width: 150px;
   object-fit: cover;
   border-radius: 50%;
 }
 .choices{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   margin-top: 5rem;
 }
 .score-board{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   margin-top: 3rem;
   gap: 5rem;
 }
 #user-score,#computer-score{
   font-size: 4rem;
 }
 .msg-container{
    margin-top: 5rem;
 }
 #msg{
   background-color: #081b31;
   color: #fff;
   font-size: 2rem;
   display: inline;
   padding: 1rem;
   border-radius: 1rem;
 }